body {
	margin: 0;
	padding: 0;
	background-color:rgb(230, 199, 228);

}

header {
	background-color: rgb(230, 176, 228);
	display: flex;
	padding: 0.5em;
	border: 1px solid black;
	align-items: end;
}


img {
		height: 5em;
		width: auto;
		border: 1px solid black;

}

.cart {
	justify-items: right;
	width: 2em;
	height: 2em;
	margin-left: 10px;
	
}

.topnav {
	display: flex;
	align-self: end;
	justify-content: end;
	flex-grow: 1;
	border: 1px solid black;
	
	
}

.topnav > button {
	margin: auto;
	border: none;
}



