
header {
	background-color: rgb(56, 83, 87);
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	/* border: 2px solid black; */
	align-items: end;
	height: 7em;
	position: relative;

}

 .LOGGA {
	height: 5em;
	width: auto;
	/* border: 1px solid black; */
	z-index: 1; 
}

.overlay {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2em;
	background-color:rgb(191, 233, 233);
	display: flex;
	color: rgb(68, 66, 66);
	font-size: medium;
	font-weight: bold;
	justify-content: space-evenly;
	align-items: center;
	
}



.cart {
	justify-items: right;
	width: 2em;
	height: 2em;
	margin-left: 10px;
	
}

.topnav {
	display: flex;
	align-self: end;
	justify-content: space-evenly;
	flex-grow: 1;
	margin-right: 1em;
}

.shipping {
	position: relative;
	left: 1em;
}

.buttons {
    border: none;
	background-color: rgb(56, 83, 87);
	font-size: x-large;
	cursor: pointer;
	padding: 0;
	color: rgb(222, 225, 227);
	font-family: 'Pixelify Sans', cursive;
}

.topnav > a {
	margin-left: 1em;
	border: none;
}

.search-and-cart {
	/* border: 1px solid black; */
	text-align: center;
}

@media (max-width: 768px) {
	.LOGGA {
		display: flex;
		flex-grow: 0;
		order: 1;
		height: 4em;
		position: relative;
		margin-top: 1.3em;
	}

	.overlay {
		font-size: small;
	}

	.search-and-cart {
	order: 2;
	/* display: flex; */
	flex-shrink: 1;
	flex-direction:row;
	position: relative;
	margin-left: 1em;
	width: 2.4em;
	}

	.topnav {
		order: 3;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: 0em;
		font-size: small;
		margin-left: auto;
		
	
	}

	.topnav > a {
		margin: 0.5em 0;
	}

	

	.buttons {
		font-size: large;
		margin: 0;
	}

	header {
		display: flex;
		flex-direction: row;
		height: auto;

	}



	}
