.hallbarhet-titel, .hallbarhet-text, .hallbarhet-underrubrik {
	font-family: 'Dosis', sans-serif;
	text-align: center;
}

/* .ankjord {
	display: block;
	margin-left: auto;
 	margin-right: auto;
  	width: 170px;
	margin-top: 1em;

} */

#ANKISEN {
	display: block;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 1em;
	background-image: url('https://github.com/Juliuskaljo/qwak-grupparbete/blob/main/Bilder/111.png?raw=true');
	height: 227px;
	width: 227px;
 }
 
 #ANKISEN:hover {
	background-image: url('https://github.com/Juliuskaljo/qwak-grupparbete/blob/main/Bilder/11.png?raw=true');
	height: 227px;
	width: 227px;
 }
