
main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
}

.text {
	max-width: 600px;
	text-align: center;
	font-size: 14px; 
	font-family: 'Dosis', sans-serif;
	color: rgb(10, 9, 9);
	background-color: rgb(210, 170, 195);
	border-radius: 25px;
	box-shadow: 5px 5px 5px #7a7777;
	padding: 0 3em 0 3em;
}




