
header {
	background-color: rgb(230, 176, 228);
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	border: 0px solid black;
	align-items: end;
	position: relative;
	
}

.LOGGA {
	height: 5em;
	width: auto;
	z-index: 1;
	border: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2em;
	background-color: #a8efee;
	display: flex;
	color: black;
	font-size: medium;
	font-weight: bold;
	justify-content: space-evenly;
	align-items: center;	
	
}



.cart {
	justify-items: right;
	width: 2em;
	height: 2em;
	margin-left: 10px;
	border: none;
	
}

.topnav {
	display: flex;
	align-self: end;
	justify-content: space-evenly;
	flex-grow: 1;
	margin-right: 1em;
}

.shipping {
	position: relative;
	left: 1em;
}

.buttons {
    border: none;
	background-color: rgb(230, 176, 228);
	font-size: x-large;
	cursor: pointer;
	padding: 0;
}

.topnav > a {
	margin-left: 1em;
	border: none;
}



@media (max-width: 768px) {}
	.LOGGA {
		height: 5em;
	}

	.overlay {
		font-size:x-small
	}

	.topnav {
		flex-direction: column;
		align-items: center;
		margin-top: 1em;
	}

	.topnav > a {
		margin: 0.5em 0;
	}

	.search-and-cart {
		margin-left: 4em;
	}
p {
	line-height: 0;
}


body, html {
	height: 100%;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.text {
	text-align: center;
	position: relative;
	top: -120px; 
	font-family: 'Dosis', sans-serif;
	
}

