
p {
	line-height: 0;
}


body, html {
	height: 100%;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.text {
	text-align: center;
	position: relative;
	top: -50px; 
	font-family: 'Dosis', sans-serif;
	
}

