body {
	margin: 0;
	padding: 0;
	background-color:rgb(243, 247, 246);

}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}


       
	

	 
		